<nav class="nav-menu>">

  <a class="menu-item" href="/">Home</a>
  <a class="menu-item" href="/api/authors">authors-api</a>
  <a class="menu-item" href="/api/books">books-api</a>
  <a class="menu-item" href="/api/users">user-api</a>
</nav>

