<div class="container">
  <div class="col-sm-8">
    <h1 class="display-4">Hello, {{title}}!</h1>
    <p class="lead">Dette er en prototype på TypeScript udgaven af jstraining-jasmine.</p>
    <hr class="my-3">
    <p>Der anvendes Node.js Express med Handlebars som view engine.</p>
    <p><a href="/bookstore">Bookstore databasen</a></p>
  </div>
</div>


