<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
<section id="topnav">
    <%= require('../partials/topnav.html') %>
</section>
<section class="container">
    <div class="col-sm-8">
        <h1 class="display-5">Frontend templates</h1>
        <p class="lead">Lodash og Handlebars templates formaterer data</p>
        <nav class="navbar navbar-expand-md navbar-light bg-transparent">
            <ul id="navbar" class="navbar-nav mr-auto">
                <li id="ejs-template"><a href="#">EJS Template</a>&nbsp;</li>
                <li>|</li>
                <li id="hbs04-template"><a href="#">Handlebars lokale data</a>&nbsp;</li>
                <li>|</li>
                <li id="hbs05-template"><a href="#">Handlebars backend data</a>&nbsp;</li>
            </ul>
        </nav>
    </div>
</section>
<div class="container">
    <div class="col-sm-8 border rounded">
        <div id="error"></div>
        <div id="data"></div>
    </div>
</div>
</body>
</html>
