<div class="container">
  <div class="col-sm-8">
    <h1 class="display-4">Demo af MyClass</h1>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Retur til startsiden</a>
    </p>
    <p class="lead">På denne side er indsat et Script.</p>
    <hr class="my-4">
    <p>Scriptet indeholder class MyClass, som indsætter en tekst, når event DOMContentLoaded udløses.</p>
  </div>
  <div class="col-sm-8 border rounded">
    <div id="content"></div>
  </div>
</div>
<p><!--suppress HtmlUnknownTarget -->
<script src="/dist/diverse/hello.js"></script>



