<nav class="navbar navbar-expand-md bg-light navbar-light">

  <!-- Brand and toggle get grouped for better mobile display -->


  <div class="container-fluid">
  <a data-testid="brand" class="navbar-brand" href="/#">Frontend</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarsExample04" aria-controls="navbarsExample04"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

 <!-- Collect the nav links, forms, and other content for toggling -->
  <ul class="collapse navbar-collapse" id="navbarsExample04">
    <ul data-testid="navbar" id="navbar" class="navbar-nav me-auto mb-2 mb-md-0">
      <li data-testid="home" class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li data-testid="bookstore" class="nav-item">
        <!--suppress HtmlUnknownTarget -->
        <a class="nav-link active" href="/bookstore">Backend</a>
      </li>
      <li class="nav-item dropdown">
        <a data-testid="templates" href="#" class="nav-link dropdown-toggle"
           data-bs-toggle="dropdown">Templates</a>
        <ul data-testid="dropdown" class="dropdown-menu">
          <!--suppress HtmlUnknownTarget -->
          <li><a class="dropdown-item" href="/template.html">Templates</a></li>

          <li><a class="dropdown-item" href="#" >Ledig</a></li>
        </ul>
      </li>
      <li data-testid="users" class="nav-item">
        <!--suppress HtmlUnknownTarget -->
        <a class="nav-link active" href="/users.html">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Ledig</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Ledig</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Ledig</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
