<nav class="navbar navbar-expand-md bg-light navbar-light">

  <!-- Brand and toggle get grouped for better mobile display -->

  <a data-testid="brand" class="navbar-brand" href="/#">Frontend</a>

 <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul data-testid="navbar" id="navbar" class="navbar-nav mr-auto">
      <li data-testid="home" class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li data-testid="bookstore" class="nav-item">
        <!--suppress HtmlUnknownTarget -->
        <a class="nav-link" href="/bookstore">Backend</a></li>
      <li class="nav-item dropdown">
        <a data-testid="templates" href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Templates</a>
        <div data-testid="dropdown" class="dropdown-menu">
          <!--suppress HtmlUnknownTarget -->
          <a href="/template.html" class="dropdown-item">Templates</a>
          <a href="#" class="dropdown-item">Ledig</a>
        </div>
      </li>
      <li data-testid="users" class="nav-item">
        <!--suppress HtmlUnknownTarget -->
        <a class="nav-link" href="/users.html">Users</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Ledig</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Ledig</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Ledig</a></li>
    </ul>
  </div>
</nav>
